In [1]:
import kaggle
import zipfile
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine

C:\Diwash\anaconda\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
try:
    !kaggle datasets download -d syednaveed05/logistics-fleet-data

    with zipfile.ZipFile("logistics-fleet-data.zip", "r") as zip_ref:
        file_list = zip_ref.namelist()
        print("Files inside the ZIP:", file_list)
except Exception as error:
    print(f"Error: {error}")

Dataset URL: https://www.kaggle.com/datasets/syednaveed05/logistics-fleet-data
License(s): unknown
logistics-fleet-data.zip: Skipping, found more recently modified local copy (use --force to force download)
Files inside the ZIP: ['DimensionTables.xlsx', 'fCosts.xlsx', 'fFreight.csv']

In [3]:
path = r"data/DimensionTables.xlsx"
df_dim = pd.read_excel(path, sheet_name = None)

In [4]:
df_dim.keys()

dict_keys(['Drivers', 'Vehicles', 'Customers'])

In [5]:

dfs = {sheet.lower(): df_dim[sheet] for sheet in df_dim.keys()}
dfs["drivers"]

    Driver ID               Driver
0           1            No Driver
1           2       Ridwan Greaves
2           3          Efan Archer
3           4          Karol Woods
4           5           Amman Vega
5           6           Sol Porter
6           7         Nikola Weiss
7           8     Tierney Reynolds
8           9     Kenzie Macdonald
9          10          Anton Garza
10         11      Maheen Nicholls
11         12     Stevie Schofield
12         13            Asha Cruz
13         14           Yasin Buck
14         15            Ubaid Key
15         16         Idris Alston
16         17          Axel Hodges
17         18       Kailum Ellison
18         19         Arianne Rosa
19         20      Montell Winters
20         21        Arslan Cooley
21         22  Salahuddin Arellano
22         23       Frederick Watt
23         24       Marcel Wormald
24         25           Gino Boone
25         26            Nora Kerr
26         27           Kenny Todd
27         28         Kaan Markham
28         29       Percy Mcnamara
29         30        Kiah O'Connor
30         31         Riyad Harris
31         32      Kymani Sharples

In [6]:
df_drivers = dfs["drivers"]
df_vehicles = dfs["vehicles"]
df_customers = dfs["customers"]

In [7]:
df_drivers

    Driver ID               Driver
0           1            No Driver
1           2       Ridwan Greaves
2           3          Efan Archer
3           4          Karol Woods
4           5           Amman Vega
5           6           Sol Porter
6           7         Nikola Weiss
7           8     Tierney Reynolds
8           9     Kenzie Macdonald
9          10          Anton Garza
10         11      Maheen Nicholls
11         12     Stevie Schofield
12         13            Asha Cruz
13         14           Yasin Buck
14         15            Ubaid Key
15         16         Idris Alston
16         17          Axel Hodges
17         18       Kailum Ellison
18         19         Arianne Rosa
19         20      Montell Winters
20         21        Arslan Cooley
21         22  Salahuddin Arellano
22         23       Frederick Watt
23         24       Marcel Wormald
24         25           Gino Boone
25         26            Nora Kerr
26         27           Kenny Todd
27         28         Kaan Markham
28         29       Percy Mcnamara
29         30        Kiah O'Connor
30         31         Riyad Harris
31         32      Kymani Sharples

In [8]:
def quality(x):
    print(f'The sum of null values : \n{x.isnull().sum()}')
    print(f'\nThe type of data types: \n{x.dtypes}')
    shape = x.shape
    print(f'\nThe rows in the table: {shape[0]}')
    print(f'\nThe columns in the table: {shape[1]}')
    print(f'\n{x.head(5)}')

In [9]:
quality(df_vehicles)

The sum of null values :
Truck ID         0
Plate            0
Brand            0
Truck Type       0
Trailers Type    0
Year             0
dtype: int64

The type of data types:
Truck ID          int64
Plate            object
Brand            object
Truck Type       object
Trailers Type    object
Year              int64
dtype: object

The rows in the table: 31

The columns in the table: 6

   Truck ID     Plate Brand    Truck Type Trailers Type  Year
0         2  MJD-6976    VW  SEMI-TRAILER        Reefer  2011
1         3  MJT-4829    VW  SEMI-TRAILER        Reefer  2010
2         4  MHJ-9634    VW       TRAILER        Reefer  2009
3         5  MKP-6610    VW       TRAILER        Reefer  2006
4         6  MHN-5539    VW           BOX        Fridge  2010

In [10]:
#looking at records that have no drive

df_drivers[df_drivers["Driver"] == "No Driver"]

   Driver ID     Driver
0          1  No Driver

In [11]:
df_drivers["Driver ID"].duplicated().sum()

0

In [12]:
quality(df_customers)

The sum of null values :
Customer ID    0
City           0
State          0
Latitude       0
Longitude      0
dtype: int64

The type of data types:
Customer ID      int64
City            object
State           object
Latitude       float64
Longitude      float64
dtype: object

The rows in the table: 43910

The columns in the table: 5

   Customer ID     City State  Latitude  Longitude
0            5  Mineola    KY   38.8881   -91.5714
1            6  Mineola    KY   38.8881   -91.5714
2           21  Mineola    KY   38.8881   -91.5714
3           34  Mineola    KY   38.8881   -91.5714
4           43  Mineola    KY   38.8881   -91.5714

In [13]:
def clean_column_names(df):
        df.columns = df.columns.str.lower().str.replace(' ', '_')
        return df

In [14]:
df_drivers = clean_column_names(df_drivers)
df_vehicles = clean_column_names(df_vehicles)
df_customers = clean_column_names(df_customers)

In [15]:
df_drivers.head()

   driver_id          driver
0          1       No Driver
1          2  Ridwan Greaves
2          3     Efan Archer
3          4     Karol Woods
4          5      Amman Vega

In [16]:
path = r"data/fCosts.xlsx"
df_costs= pd.read_excel(path)

In [17]:
df_costs.head()
#### Here the structure of the data is not usual, we might need to look more into the table

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
2,2018-01-01 00:00:00,2,2,4594,1303.06,4077.49,1011.93,10502.595165
3,2018-01-01 00:00:00,6,4,3816,899.14,2813.7,1561.78,6092.156655
4,2018-01-01 00:00:00,17,9,7116,2128.46,6491,1324.12,11930.90331

In [18]:
pd.set_option('display.max_rows', None)
df_costs.iloc[:, 0]
##The df contains two table seperated by year, hence the unusual dataframe
## we can just delete the index that contains NAN and the year 2018, 2019, and column name for the second table

0                     2018
1                     Date
2      2018-01-01 00:00:00
3      2018-01-01 00:00:00
4      2018-01-01 00:00:00
5      2018-01-01 00:00:00
6      2018-01-01 00:00:00
7      2018-01-01 00:00:00
8      2018-01-01 00:00:00
9      2018-01-01 00:00:00
10     2018-01-01 00:00:00
11     2018-01-01 00:00:00
12     2018-01-01 00:00:00
13     2018-01-01 00:00:00
14     2018-01-01 00:00:00
15     2018-01-01 00:00:00
16     2018-01-01 00:00:00
17     2018-01-01 00:00:00
18     2018-01-01 00:00:00
19     2018-01-01 00:00:00
20     2018-01-01 00:00:00
21     2018-02-01 00:00:00
22     2018-02-01 00:00:00
23     2018-02-01 00:00:00
24     2018-02-01 00:00:00
25     2018-02-01 00:00:00
26     2018-02-01 00:00:00
27     2018-02-01 00:00:00
28     2018-02-01 00:00:00
29     2018-02-01 00:00:00
30     2018-02-01 00:00:00
31     2018-02-01 00:00:00
32     2018-02-01 00:00:00
33     2018-02-01 00:00:00
34     2018-02-01 00:00:00
35     2018-02-01 00:00:00
36     2018-02-01 00:00:00
37     2018-02-01 00:00:00
38     2018-02-01 00:00:00
39     2018-02-01 00:00:00
40     2018-03-01 00:00:00
41     2018-03-01 00:00:00
42     2018-03-01 00:00:00
43     2018-03-01 00:00:00
44     2018-03-01 00:00:00
45     2018-03-01 00:00:00
46     2018-03-01 00:00:00
47     2018-03-01 00:00:00
48     2018-03-01 00:00:00
49     2018-03-01 00:00:00
50     2018-03-01 00:00:00
51     2018-03-01 00:00:00
52     2018-03-01 00:00:00
53     2018-03-01 00:00:00
54     2018-03-01 00:00:00
55     2018-03-01 00:00:00
56     2018-03-01 00:00:00
57     2018-03-01 00:00:00
58     2018-04-01 00:00:00
59     2018-04-01 00:00:00
60     2018-04-01 00:00:00
61     2018-04-01 00:00:00
62     2018-04-01 00:00:00
63     2018-04-01 00:00:00
64     2018-04-01 00:00:00
65     2018-04-01 00:00:00
66     2018-04-01 00:00:00
67     2018-04-01 00:00:00
68     2018-04-01 00:00:00
69     2018-04-01 00:00:00
70     2018-04-01 00:00:00
71     2018-04-01 00:00:00
72     2018-04-01 00:00:00
73     2018-04-01 00:00:00
74     2018-04-01 00:00:00
75     2018-04-01 00:00:00
76     2018-05-01 00:00:00
77     2018-05-01 00:00:00
78     2018-05-01 00:00:00
79     2018-05-01 00:00:00
80     2018-05-01 00:00:00
81     2018-05-01 00:00:00
82     2018-05-01 00:00:00
83     2018-05-01 00:00:00
84     2018-05-01 00:00:00
85     2018-05-01 00:00:00
86     2018-05-01 00:00:00
87     2018-05-01 00:00:00
88     2018-05-01 00:00:00
89     2018-05-01 00:00:00
90     2018-05-01 00:00:00
91     2018-05-01 00:00:00
92     2018-05-01 00:00:00
93     2018-05-01 00:00:00
94     2018-05-01 00:00:00
95     2018-06-01 00:00:00
96     2018-06-01 00:00:00
97     2018-06-01 00:00:00
98     2018-06-01 00:00:00
99     2018-06-01 00:00:00
100    2018-06-01 00:00:00
101    2018-06-01 00:00:00
102    2018-06-01 00:00:00
103    2018-06-01 00:00:00
104    2018-06-01 00:00:00
105    2018-06-01 00:00:00
106    2018-06-01 00:00:00
107    2018-06-01 00:00:00
108    2018-06-01 00:00:00
109    2018-06-01 00:00:00
110    2018-06-01 00:00:00
111    2018-06-01 00:00:00
112    2018-06-01 00:00:00
113    2018-07-01 00:00:00
114    2018-07-01 00:00:00
115    2018-07-01 00:00:00
116    2018-07-01 00:00:00
117    2018-07-01 00:00:00
118    2018-07-01 00:00:00
119    2018-07-01 00:00:00
120    2018-07-01 00:00:00
121    2018-07-01 00:00:00
122    2018-07-01 00:00:00
123    2018-07-01 00:00:00
124    2018-07-01 00:00:00
125    2018-07-01 00:00:00
126    2018-07-01 00:00:00
127    2018-07-01 00:00:00
128    2018-07-01 00:00:00
129    2018-07-01 00:00:00
130    2018-07-01 00:00:00
131    2018-08-01 00:00:00
132    2018-08-01 00:00:00
133    2018-08-01 00:00:00
134    2018-08-01 00:00:00
135    2018-08-01 00:00:00
136    2018-08-01 00:00:00
137    2018-08-01 00:00:00
138    2018-08-01 00:00:00
139    2018-08-01 00:00:00
140    2018-08-01 00:00:00
141    2018-08-01 00:00:00
142    2018-08-01 00:00:00
143    2018-08-01 00:00:00
144    2018-08-01 00:00:00
145    2018-09-01 00:00:00
146    2018-09-01 00:00:00
147    2018-09-01 00:00:00
148    2018-09-01 00:00:00
149    2018-09-01 00:00:00
150    2018-09-01 00:00:00
151    2018-09-01 00:00:00
152    2018-09-01 00:00:00
153    2018-09-01 00:00:00
154    2018-09-01 00:00:00
155    2018-09-01 00:00:00
156    2018-09-01 00:00:00
157    2018-09-01 00:00:00
158    2018-09-01 00:00:00
159    2018-10-01 00:00:00
160    2018-10-01 00:00:00
161    2018-10-01 00:00:00
162    2018-10-01 00:00:00
163    2018-10-01 00:00:00
164    2018-10-01 00:00:00
165    2018-10-01 00:00:00
166    2018-10-01 00:00:00
167    2018-10-01 00:00:00
168    2018-10-01 00:00:00
169    2018-10-01 00:00:00
170    2018-10-01 00:00:00
171    2018-10-01 00:00:00
172    2018-10-01 00:00:00
173    2018-10-01 00:00:00
174    2018-10-01 00:00:00
175    2018-10-01 00:00:00
176    2018-10-01 00:00:00
177    2018-10-01 00:00:00
178    2018-10-01 00:00:00
179    2018-11-01 00:00:00
180    2018-11-01 00:00:00
181    2018-11-01 00:00:00
182    2018-11-01 00:00:00
183    2018-11-01 00:00:00
184    2018-11-01 00:00:00
185    2018-12-01 00:00:00
186    2018-12-01 00:00:00
187    2018-12-01 00:00:00
188    2018-12-01 00:00:00
189    2018-12-01 00:00:00
190    2018-12-01 00:00:00
191                    NaN
192                   2019
193                   Date
194    2019-01-01 00:00:00
195    2019-01-01 00:00:00
196    2019-01-01 00:00:00
197    2019-01-01 00:00:00
198    2019-01-01 00:00:00
199    2019-01-01 00:00:00
200    2019-02-01 00:00:00
201    2019-02-01 00:00:00
202    2019-02-01 00:00:00
203    2019-02-01 00:00:00
204    2019-02-01 00:00:00
205    2019-02-01 00:00:00
206    2019-03-01 00:00:00
207    2019-03-01 00:00:00
208    2019-03-01 00:00:00
209    2019-03-01 00:00:00
210    2019-03-01 00:00:00
211    2019-03-01 00:00:00
212    2019-04-01 00:00:00
213    2019-04-01 00:00:00
214    2019-04-01 00:00:00
215    2019-04-01 00:00:00
216    2019-04-01 00:00:00
217    2019-04-01 00:00:00
218    2019-04-01 00:00:00
219    2019-04-01 00:00:00
220    2019-04-01 00:00:00
221    2019-04-01 00:00:00
222    2019-04-01 00:00:00
223    2019-04-01 00:00:00
224    2019-04-01 00:00:00
225    2019-04-01 00:00:00
226    2019-04-01 00:00:00
227    2019-04-01 00:00:00
228    2019-04-01 00:00:00
229    2019-04-01 00:00:00
230    2019-05-01 00:00:00
231    2019-05-01 00:00:00
232    2019-05-01 00:00:00
233    2019-05-01 00:00:00
234    2019-05-01 00:00:00
235    2019-05-01 00:00:00
236    2019-05-01 00:00:00
237    2019-05-01 00:00:00
238    2019-05-01 00:00:00
239    2019-05-01 00:00:00
240    2019-05-01 00:00:00
241    2019-05-01 00:00:00
242    2019-05-01 00:00:00
243    2019-05-01 00:00:00
244    2019-05-01 00:00:00
245    2019-05-01 00:00:00
246    2019-05-01 00:00:00
247    2019-05-01 00:00:00
248    2019-06-01 00:00:00
249    2019-06-01 00:00:00
250    2019-06-01 00:00:00
251    2019-06-01 00:00:00
252    2019-06-01 00:00:00
253    2019-06-01 00:00:00
254    2019-06-01 00:00:00
255    2019-06-01 00:00:00
256    2019-06-01 00:00:00
257    2019-06-01 00:00:00
258    2019-06-01 00:00:00
259    2019-06-01 00:00:00
260    2019-06-01 00:00:00
261    2019-06-01 00:00:00
262    2019-06-01 00:00:00
263    2019-06-01 00:00:00
264    2019-06-01 00:00:00
265    2019-06-01 00:00:00
266    2019-07-01 00:00:00
267    2019-07-01 00:00:00
268    2019-07-01 00:00:00
269    2019-07-01 00:00:00
270    2019-07-01 00:00:00
271    2019-07-01 00:00:00
272    2019-07-01 00:00:00
273    2019-07-01 00:00:00
274    2019-07-01 00:00:00
275    2019-07-01 00:00:00
276    2019-07-01 00:00:00
277    2019-07-01 00:00:00
278    2019-07-01 00:00:00
279    2019-07-01 00:00:00
280    2019-07-01 00:00:00
281    2019-07-01 00:00:00
282    2019-07-01 00:00:00
283    2019-08-01 00:00:00
284    2019-08-01 00:00:00
285    2019-08-01 00:00:00
286    2019-08-01 00:00:00
287    2019-08-01 00:00:00
288    2019-08-01 00:00:00
289    2019-08-01 00:00:00
290    2019-08-01 00:00:00
291    2019-08-01 00:00:00
292    2019-08-01 00:00:00
293    2019-08-01 00:00:00
294    2019-08-01 00:00:00
295    2019-08-01 00:00:00
296    2019-08-01 00:00:00
297    2019-08-01 00:00:00
298    2019-08-01 00:00:00
299    2019-08-01 00:00:00
Name: Unnamed: 0, dtype: object

In [19]:
####Start by deleting null values### (Ths would remove the rows consisting of 2018 and 2019)
df_costs = df_costs.dropna()
df_costs = df_costs.reset_index(drop=True)

In [20]:
df_costs

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
1,2018-01-01 00:00:00,2,2,4594,1303.06,4077.49,1011.93,10502.595165
2,2018-01-01 00:00:00,6,4,3816,899.14,2813.7,1561.78,6092.156655
3,2018-01-01 00:00:00,17,9,7116,2128.46,6491,1324.12,11930.90331
4,2018-01-01 00:00:00,19,11,2724,669.73,2123.58,560.17,7428.016155
5,2018-01-01 00:00:00,20,12,3862,723.02,2378.19,648.11,6735.388638
6,2018-01-01 00:00:00,22,14,5074,1000.59,3200.11,416.48,7064.379138
7,2018-01-01 00:00:00,29,21,3160,589.89,1827.01,624.76,6981.433638
8,2018-01-01 00:00:00,33,24,3928,699.81,2242.8,506.32,6770.098638
9,2018-01-01 00:00:00,36,1,382,128.27,436.01,1240.44,10154.439165
10,2018-01-01 00:00:00,38,27,2474,561.55,1816.46,263.13,6949.231638
11,2018-01-01 00:00:00,3,1,4059,1215.73,3812.29,1220.22,10792.359165
12,2018-01-01 00:00:00,5,1,1159,229.92,720.15,881.95,7218.480138
13,2018-01-01 00:00:00,4,3,3416,631.77,1916.03,896.56,5184.415638
14,2018-01-01 00:00:00,7,5,2329,500.31,1604.29,390.12,7143.304905
15,2018-01-01 00:00:00,23,15,3306,564.51,1810.94,387.92,7160.476638
16,2018-01-01 00:00:00,24,16,3799,928.08,2958.22,325.27,8168.40024
17,2018-01-01 00:00:00,28,20,2595,480.84,1461.27,791.48,6574.736655
18,2018-01-01 00:00:00,34,1,0,0,0,929.45,7212.140655
19,2018-01-01 00:00:00,37,26,2327,404.54,1369.06,420.14,7023.411138
20,2018-02-01 00:00:00,2,2,4682,1346.76,4205.84,1327.42,10464.817665
21,2018-02-01 00:00:00,6,4,1007,244.18,755.54,2095.77,6387.821655
22,2018-02-01 00:00:00,17,9,2283,693.28,2103.32,1725.49,12185.00331
23,2018-02-01 00:00:00,19,11,4987,1159.62,3690.94,759.18,6381.563655
24,2018-02-01 00:00:00,20,12,2341,405.92,1345.4,844.54,7768.326135
25,2018-02-01 00:00:00,22,14,5179,1042.68,3297.53,558.39,7097.769138
26,2018-02-01 00:00:00,29,21,4031,762.4,2287.2,541.76,6788.083638
27,2018-02-01 00:00:00,33,24,3893,700.36,2308.49,679.94,6573.898638
28,2018-02-01 00:00:00,36,1,75,27.46,91.44,1599.52,10116.661665
29,2018-02-01 00:00:00,38,27,921,102.83,359.82,337.99,6826.674138
30,2018-02-01 00:00:00,3,1,2875,837.61,2562.87,1590.62,10754.581665
31,2018-02-01 00:00:00,5,15,2296,426.77,1306.89,1170.86,7468.455138
32,2018-02-01 00:00:00,4,3,3936,688.87,2130.24,1190.51,7710.085635
33,2018-02-01 00:00:00,7,5,2552,552.35,1730.55,507.47,7259.981655
34,2018-02-01 00:00:00,23,30,2839,493.31,1557.88,514.29,7683.136635
35,2018-02-01 00:00:00,24,16,2176,550.44,1755.05,419.42,7344.79524
36,2018-02-01 00:00:00,28,20,3720,671.97,2019.78,1065.58,6672.566655
37,2018-02-01 00:00:00,34,1,3176,850,770.04,1280.74,7062.140655
38,2018-02-01 00:00:00,37,26,2938,510.79,1742.4,541.76,6873.298638
39,2018-03-01 00:00:00,2,2,5656,1650.29,5082.67,1295.43,10171.410165
40,2018-03-01 00:00:00,17,9,4506,1332.55,4057.72,1697.17,12557.19831
41,2018-03-01 00:00:00,19,11,4104,1024.25,3265.02,739.71,7325.588655
42,2018-03-01 00:00:00,20,12,5332,926.25,3062.06,834.27,7768.326135
43,2018-03-01 00:00:00,22,14,5046,1021.82,3262.46,580.05,7381.126638
44,2018-03-01 00:00:00,29,21,2628,490.07,1484.66,795.21,6592.753638
45,2018-03-01 00:00:00,33,24,5050,892.62,2942.21,695.79,7108.281138
46,2018-03-01 00:00:00,36,1,1831,541.31,1752.42,1579.02,9823.254165
47,2018-03-01 00:00:00,38,27,2372,494.57,1730.57,329.33,7103.386638
48,2018-03-01 00:00:00,3,1,4127,1184.74,3637.16,1583.05,10461.174165
49,2018-03-01 00:00:00,4,3,4783,799.53,2450.91,1159.98,7599.243135
50,2018-03-01 00:00:00,5,1,3534,648,1998.16,1140.83,7218.480138
51,2018-03-01 00:00:00,7,5,3233,707.22,2245.18,494.46,7135.871655
52,2018-03-01 00:00:00,23,30,4813,796.03,2616.02,501.11,7722.909135
53,2018-03-01 00:00:00,24,16,5550,1240.08,4111.43,411.75,8025.61524
54,2018-03-01 00:00:00,28,20,3793,713.5,2166.23,1061.62,7058.951655
55,2018-03-01 00:00:00,34,1,1396,353.68,1078.56,1290.98,7512.140655
56,2018-03-01 00:00:00,37,26,1496,264.93,902.6,534.02,7460.488638
57,2018-04-01 00:00:00,2,2,2236,647.65,2215.57,1271.29,10502.722665
58,2018-04-01 00:00:00,17,9,5149,1222.74,4033.42,1678.51,11972.99331
59,2018-04-01 00:00:00,19,11,6391,1643.17,5523.08,732.22,7619.206155
60,2018-04-01 00:00:00,20,12,4585,807.27,2807.92,843.27,7679.788635
61,2018-04-01 00:00:00,22,14,3782,764.23,2549.55,587.82,7172.754138
62,2018-04-01 00:00:00,29,21,3875,762.92,2319.42,778.33,6969.951138
63,2018-04-01 00:00:00,33,24,4341,777.52,2629.15,682.24,6712.198638
64,2018-04-01 00:00:00,36,1,801,219.12,706.22,1539.54,10154.566665
65,2018-04-01 00:00:00,38,27,1593,317.04,1105.84,328.45,6833.259138
66,2018-04-01 00:00:00,3,1,7013,1977.57,6376.09,1518.74,10792.486665
67,2018-04-01 00:00:00,4,3,3202,512.73,1606.41,1140.42,7557.565635
68,2018-04-01 00:00:00,5,1,1944,368.32,1195.63,1135.66,7218.480138
69,2018-04-01 00:00:00,7,5,4619,1000.75,3258.87,482.1,7372.991655
70,2018-04-01 00:00:00,23,30,5280,881.83,2947.01,488.52,7268.761638
71,2018-04-01 00:00:00,24,16,5294,1176.6,4096.18,401.45,8150.22774
72,2018-04-01 00:00:00,28,20,4665,788.98,2489.72,1071.28,6811.091655
73,2018-04-01 00:00:00,34,25,1879,477.57,1596.71,1271.2,6346.858155
74,2018-04-01 00:00:00,37,26,2175,399.01,1383.58,520.67,7267.311138
75,2018-05-01 00:00:00,2,2,4643,1475.36,5154.32,1338.03,10338.000165
76,2018-05-01 00:00:00,17,9,3598,1113.65,3884.66,1661.77,11839.65831
77,2018-05-01 00:00:00,19,11,6350,1651.76,5932.92,727.42,7699.943655
78,2018-05-01 00:00:00,20,12,4789,895.09,3285.71,822.7,7785.718635
79,2018-05-01 00:00:00,22,14,5109,1001.65,3586.22,616.04,7206.526638
80,2018-05-01 00:00:00,29,21,3759,785.88,2548.33,759.76,6751.041138
81,2018-05-01 00:00:00,33,24,3576,629.46,2214.35,670.48,6506.878638
82,2018-05-01 00:00:00,36,1,1182,392.76,1429.82,1502.97,9989.844165
83,2018-05-01 00:00:00,38,27,1953,333.91,1172.41,321.18,6821.724138
84,2018-05-01 00:00:00,3,1,5761,1541.14,5303.03,1493.38,10627.764165
85,2018-05-01 00:00:00,4,3,1144,209.43,733.45,1157.08,7644.528135
86,2018-05-01 00:00:00,5,1,3048,644.51,2299.4,1150.77,7293.480138
87,2018-05-01 00:00:00,7,5,4377,1128.38,3878.31,472.29,7342.751655
88,2018-05-01 00:00:00,23,30,3511,726.29,2518.86,505.07,6884.401638
89,2018-05-01 00:00:00,24,16,6017,1495.87,5496.76,396.05,8051.91024
90,2018-05-01 00:00:00,24,16,5636,1521.44,5292.03,625.89,8467.62024
91,2018-05-01 00:00:00,28,20,2837,530.38,1624.78,1046.83,6373.511655
92,2018-05-01 00:00:00,34,4,2250,619.63,2179.56,1273.16,6035.825655
93,2018-05-01 00:00:00,37,26,3092,521.82,1808.29,523.43,7077.831138
94,2018-06-01 00:00:00,2,2,6572,1885.3,6008.38,1317.23,9109.192665
95,2018-06-01 00:00:00,17,9,4805,1511.86,4817.89,1622.2,11419.56081
96,2018-06-01 00:00:00,19,11,5890,1289.87,4207.23,746.52,7562.828655
97,2018-06-01 00:00:00,20,12,4499,771.3,2559.44,803.11,7782.238635
98,2018-06-01 00:00:00,22,14,6374,1143.45,3737.71,841.44,7245.721638
99,2018-06-01 00:00:00,29,21,3206,636.57,2215.07,742.39,6825.036138
100,2018-06-01 00:00:00,33,24,4969,921.05,3038.48,657.37,6087.388638
101,2018-06-01 00:00:00,36,1,584,194.06,630.33,1478.44,8761.036665
102,2018-06-01 00:00:00,38,27,801,188.9,629.76,313.53,6280.921638
103,2018-06-01 00:00:00,3,1,2910,882.78,2791.88,1472.7,9398.956665
104,2018-06-01 00:00:00,28,20,2215,415.99,1308.08,1046.54,6734.471655
105,2018-06-01 00:00:00,4,3,3960,648.59,2033.56,1153.13,8087.365635
106,2018-06-01 00:00:00,5,8,4754,859.72,2698.53,1127.4,7866.427635
107,2018-06-01 00:00:00,7,5,2936,671.94,2170.71,462.47,7309.354155
108,2018-06-01 00:00:00,23,30,4786,810.99,2680.06,493.04,7793.446635
109,2018-06-01 00:00:00,24,16,6670,1760.61,5586.9,405.27,8164.08774
110,2018-06-01 00:00:00,34,25,2906,780.5,2514.64,1252.98,6380.488155
111,2018-06-01 00:00:00,37,26,2298,399.23,1333.51,510.97,7188.996138
112,2018-07-01 00:00:00,2,2,7592,2171.42,6983.2,1326.26,10838.947665
113,2018-07-01 00:00:00,17,5,8476,2958.24,9498.93,1606.92,10963.077998
114,2018-07-01 00:00:00,19,11,5050,1156.51,3817.68,729.16,7473.908655
115,2018-07-01 00:00:00,20,12,3250,557.36,1922.71,791.4,7785.208635
116,2018-07-01 00:00:00,22,14,5411,976.65,3205.83,592.26,6644.619138
117,2018-07-01 00:00:00,29,21,4125,795.67,2761.78,750.13,7170.531138
118,2018-07-01 00:00:00,33,24,4632,878.64,2844.24,646.04,6543.418638
119,2018-07-01 00:00:00,36,1,1206,340.57,1092.94,1444.06,10299.414165
120,2018-07-01 00:00:00,38,27,1790,361.07,1205.67,306.24,6439.014138
121,2018-07-01 00:00:00,3,30,4146,1274.45,4061.56,1446.94,10937.334165
122,2018-07-01 00:00:00,28,20,2813,518.41,1679.65,1044.92,6918.3431
123,2018-07-01 00:00:00,4,3,4885,803.24,2523.01,1141.92,7510.863135
124,2018-07-01 00:00:00,5,1,0,0,0,1140.86,7293.480138
125,2018-07-01 00:00:00,7,1,1959,440.85,1406.49,473.38,6835.871655
126,2018-07-01 00:00:00,23,31,2697,469.98,1551.47,491.74,6937.734138
127,2018-07-01 00:00:00,24,16,3742,836.28,2778.82,435.52,7649.52774
128,2018-07-01 00:00:00,34,25,2852,781.45,2515.36,1316.46,7263.38424
129,2018-07-01 00:00:00,37,26,2105,361.73,1197.74,500.14,6878.841138
130,2018-08-01 00:00:00,2,2,6441,1887.18,6037.97,1299.63,10141.710097
131,2018-08-01 00:00:00,17,5,8320,2759.04,8648.65,1643.48,10891.692998
132,2018-08-01 00:00:00,19,11,6419,1555.12,5136.99,720.2,8355.57474
133,2018-08-01 00:00:00,20,12,4919,834.34,2728.78,792.85,7635.698602
134,2018-08-01 00:00:00,22,14,4068,848.92,2356.46,578.8,6818.502068
135,2018-08-01 00:00:00,29,21,4714,905.41,3139.97,758.91,6984.1586
136,2018-08-01 00:00:00,38,27,1616,333.32,1112.99,304.43,6749.097067
137,2018-08-01 00:00:00,3,1,3534,957.51,3040.99,1447.29,10395.420098
138,2018-08-01 00:00:00,28,1,2498,418.04,1313.09,1048.04,7483.4246
139,2018-08-01 00:00:00,4,3,5137,842.35,2623.21,1115.97,7861.994603
140,2018-08-01 00:00:00,23,31,2616,439.52,1443.3,497.9,6955.084568
141,2018-08-01 00:00:00,24,8,4840,1168.91,3834.34,453.59,8264.94474
142,2018-08-01 00:00:00,34,20,2642,747,2418.04,1308.25,8189.44674
143,2018-08-01 00:00:00,37,26,0,0,0,488.77,6117.1211
144,2018-09-01 00:00:00,2,2,4885,1418.95,4633.13,1276.02,9544.612598
145,2018-09-01 00:00:00,17,5,6579,2274.89,7828.74,1651.64,11173.047997
146,2018-09-01 00:00:00,19,11,5037,1242.87,4419.22,724.18,8394.94974
147,2018-09-01 00:00:00,20,12,4382,755.66,2795.55,817.84,7573.021102
148,2018-09-01 00:00:00,22,14,5287,1026.61,3684.6,578.29,7101.822067
149,2018-09-01 00:00:00,29,21,2533,496.55,1857.72,746.49,6756.6686
150,2018-09-01 00:00:00,38,27,1815,390.09,1402.87,314.86,6796.534567
151,2018-09-01 00:00:00,3,15,4572,1411.89,4916.27,1645.48,9416.557597
152,2018-09-01 00:00:00,28,1,1946,352.56,1206.83,1048.79,7541.174603
153,2018-09-01 00:00:00,4,3,3500,565.85,1918.22,1094.15,7530.007103
154,2018-09-01 00:00:00,23,31,4110,708.05,2522.34,501.24,7074.664567
155,2018-09-01 00:00:00,24,8,4978,1146.21,4113.84,450.26,8529.63474
156,2018-09-01 00:00:00,34,20,2907,774.64,2739.9,1280.16,7763.26674
157,2018-09-01 00:00:00,37,26,2530,461.32,1633.86,479.91,6976.3211
158,2018-10-01 00:00:00,2,2,6778,1885.16,6610.24,1335.11,9162.847598
159,2018-10-01 00:00:00,17,5,3819,1430.77,4923.78,1799.96,11499.905497
160,2018-10-01 00:00:00,19,11,6544,1572.13,5669.64,728.93,8955.17724
161,2018-10-01 00:00:00,20,12,4406,779.64,2921.11,800.06,7785.061102
162,2018-10-01 00:00:00,22,14,5377,1112.89,3418.71,593.08,7528.752068
163,2018-10-01 00:00:00,29,21,2055,352.03,1279.72,740.44,7297.7186
164,2018-10-01 00:00:00,38,27,2269,476.2,1666.29,321.67,8039.689568
165,2018-10-01 00:00:00,3,15,5225,1489.77,5189.84,1628,10443.765097
166,2018-10-01 00:00:00,28,1,1834,342.69,1177.84,1078.11,7541.174603
167,2018-10-01 00:00:00,4,3,3035,525.82,1805.06,1083.54,7821.434603
168,2018-10-01 00:00:00,23,31,4908,811.93,2891.48,493.78,7137.762067
169,2018-10-01 00:00:00,24,8,5085,1128.2,4033.85,467.14,9079.66224
170,2018-10-01 00:00:00,34,20,3737,1010,3693.67,1252.33,7763.26674
171,2018-10-01 00:00:00,37,26,3009,525.72,1856.16,485.63,7325.9036
172,2018-10-01 00:00:00,2,2,4885,1418.95,4633.13,1276.02,11577
173,2018-10-01 00:00:00,17,5,6579,2274.89,7828.74,1651.64,17949.45
174,2018-10-01 00:00:00,19,11,5037,1242.87,4419.22,724.18,14611.5
175,2018-10-01 00:00:00,20,12,4382,755.66,2795.55,817.84,13734.3
176,2018-10-01 00:00:00,22,14,5287,1026.61,3684.6,578.29,13693.5
177,2018-10-01 00:00:00,29,21,2533,496.55,1857.72,746.49,8677.65
178,2018-11-01 00:00:00,2,2,4885,1418.95,4633.13,1276.02,11260.8
179,2018-11-01 00:00:00,17,5,6579,2274.89,7828.74,1651.64,19714.05
180,2018-11-01 00:00:00,19,11,5037,1242.87,4419.22,724.18,19604.4
181,2018-11-01 00:00:00,20,12,4382,755.66,2795.55,817.84,19357.05
182,2018-11-01 00:00:00,22,14,5287,1026.61,3684.6,578.29,13321.2
183,2018-11-01 00:00:00,29,21,2533,496.55,1857.72,746.49,15692.7
184,2018-12-01 00:00:00,2,2,4885,1418.95,4633.13,1276.02,18768
185,2018-12-01 00:00:00,17,5,6579,2274.89,7828.74,1651.64,16960.05
186,2018-12-01 00:00:00,19,11,5037,1242.87,4419.22,724.18,8412.45
187,2018-12-01 00:00:00,20,12,4382,755.66,2795.55,817.84,14517.15
188,2018-12-01 00:00:00,22,14,5287,1026.61,3684.6,578.29,15241.35
189,2018-12-01 00:00:00,29,21,2533,496.55,1857.72,746.49,17832.15
190,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
191,2019-01-01 00:00:00,2,2,4885,1418.95,4633.13,1276.02,12979.5
192,2019-01-01 00:00:00,17,5,6579,2274.89,7828.74,1651.64,8407.35
193,2019-01-01 00:00:00,19,11,5037,1242.87,4419.22,724.18,14930.25
194,2019-01-01 00:00:00,20,12,4382,755.66,2795.55,817.84,12336.9
195,2019-01-01 00:00:00,22,14,5287,1026.61,3684.6,578.29,13665.45
196,2019-01-01 00:00:00,29,21,2533,496.55,1857.72,746.49,11347.5
197,2019-02-01 00:00:00,2,2,4885,1418.95,4633.13,1276.02,19484.55
198,2019-02-01 00:00:00,17,5,6579,2274.89,7828.74,1651.64,15736.05
199,2019-02-01 00:00:00,19,11,5037,1242.87,4419.22,724.18,16212.9
200,2019-02-01 00:00:00,20,12,4382,755.66,2795.55,817.84,19984.35
201,2019-02-01 00:00:00,22,14,5287,1026.61,3684.6,578.29,13596.6
202,2019-02-01 00:00:00,29,21,2533,496.55,1857.72,746.49,16146.6
203,2019-03-01 00:00:00,2,2,4885,1418.95,4633.13,1276.02,12168.6
204,2019-03-01 00:00:00,17,5,6579,2274.89,7828.74,1651.64,17903.55
205,2019-03-01 00:00:00,19,11,5037,1242.87,4419.22,724.18,9289.65
206,2019-03-01 00:00:00,20,12,4382,755.66,2795.55,817.84,13193.7
207,2019-03-01 00:00:00,22,14,5287,1026.61,3684.6,578.29,10633.5
208,2019-03-01 00:00:00,29,21,2533,496.55,1857.72,746.49,7808.1
209,2019-04-01 00:00:00,2,2,4890,1379.52,4519.69,1376.87,10331.666692
210,2019-04-01 00:00:00,19,11,5984,1383.73,4767.66,728.32,8918.339745
211,2019-04-01 00:00:00,20,30,2487,454.77,1516.38,749.07,7738.434135
212,2019-04-01 00:00:00,24,25,4750,1001.87,3542.76,460.92,7588.449495
213,2019-04-01 00:00:00,42,12,4299,782.61,2742.02,846.52,7815.576135
214,2019-04-01 00:00:00,43,3,4323,790.91,2427.59,897.23,7765.326135
215,2019-04-01 00:00:00,44,23,5048,916.75,3283.94,3755.55,6742.513638
216,2019-04-01 00:00:00,45,14,6626,1220.54,4080.73,1025.52,7528.858635
217,2019-04-01 00:00:00,29,15,5428,1008.34,3395.48,471.93,7431.204138
218,2019-04-01 00:00:00,37,26,1872,347.02,1206.55,471.93,7773.586635
219,2019-04-01 00:00:00,38,27,2296,496.06,1726.14,305.66,7820.034135
220,2019-04-01 00:00:00,3,1,4763,1305.26,4299.37,1582.15,10585.661692
221,2019-04-01 00:00:00,4,7,2376,501.14,1654.98,1060.03,7085.160138
222,2019-04-01 00:00:00,17,5,4834,1813.76,6056.25,1947.69,10988.44122
223,2019-04-01 00:00:00,22,22,4783,999.85,3564.44,643.16,7051.809138
224,2019-04-01 00:00:00,23,31,3497,730.92,2435.05,538.19,7117.569138
225,2019-04-01 00:00:00,33,24,4043,800.25,2857.75,618.45,6929.844138
226,2019-04-01 00:00:00,34,13,2568,713.61,2399.36,1233.73,8788.387245
227,2019-05-01 00:00:00,2,2,5293,1518.72,5103.7,1351.37,10583.854192
228,2019-05-01 00:00:00,19,11,7086,1619.61,5753.09,714.83,8921.369745
229,2019-05-01 00:00:00,20,30,3264,611.92,2146.71,607,6652.749138
230,2019-05-01 00:00:00,24,25,4863,1058.11,3858.93,452.39,7627.799745
231,2019-05-01 00:00:00,42,12,3648,663.88,2357.81,846.52,8209.671135
232,2019-05-01 00:00:00,43,3,4212,766.63,2625.5,897.23,7845.733635
233,2019-05-01 00:00:00,44,23,4614,841.26,3165.63,3755.55,6900.381138
234,2019-05-01 00:00:00,45,14,6228,1135.44,3899.52,1025.52,7602.028635
235,2019-05-01 00:00:00,29,15,4415,822.98,2835.79,767.53,7500.099135
236,2019-05-01 00:00:00,37,26,2537,487.29,1705.09,463.19,8135.544135
237,2019-05-01 00:00:00,38,27,2622,554.22,1946.87,300,8253.204135
238,2019-05-01 00:00:00,3,1,3489,952.62,3188.29,1552.85,10837.849192
239,2019-05-01 00:00:00,4,7,1754,362.98,1224.32,1040.4,7317.840138
240,2019-05-01 00:00:00,17,5,4817,1729.88,5859.33,1911.62,11507.14872
241,2019-05-01 00:00:00,22,22,5262,1097.53,4073.43,631.25,7108.134138
242,2019-05-01 00:00:00,23,31,3559,744.98,2551.72,528.22,7376.529138
243,2019-05-01 00:00:00,33,24,3743,720.5,2623.12,607,7081.021638
244,2019-05-01 00:00:00,34,13,5789,1260.43,4315.78,1210.89,9419.137245
245,2019-06-01 00:00:00,2,2,7306,2089.76,6958.89,1391.83,10347.649193
246,2019-06-01 00:00:00,19,11,3928,913.6,3077.38,729.36,8707.619745
247,2019-06-01 00:00:00,29,15,5205,723.93,2433.35,802.99,7532.559135
248,2019-06-01 00:00:00,20,30,2117,271.26,761.37,741.89,7766.679135
249,2019-06-01 00:00:00,24,25,1944,617.63,2158.05,452.39,7333.724746
250,2019-06-01 00:00:00,42,12,4562,654.24,2274.85,282.17,7841.458635
251,2019-06-01 00:00:00,43,3,3993,753.86,2478.15,299.07,8084.421135
252,2019-06-01 00:00:00,45,14,3910,989.42,3319.46,490.24,7692.891135
253,2019-06-01 00:00:00,44,23,3643,848.87,3011.72,1261,6726.208638
254,2019-06-01 00:00:00,37,26,1190,180.42,613.28,472.9,7949.139135
255,2019-06-01 00:00:00,38,27,2630,470.61,1620.45,356.96,8057.679135
256,2019-06-01 00:00:00,3,1,5136,1461.68,4853.31,1620.31,10601.644192
257,2019-06-01 00:00:00,4,7,3045,395.64,1291.28,1057.19,7590.487635
258,2019-06-01 00:00:00,34,13,4240,1114.24,3772.82,1355.07,9293.767245
259,2019-06-01 00:00:00,17,5,6804,2112.15,6904.87,1916.6,11684.60622
260,2019-06-01 00:00:00,23,31,6317,728.66,2447.81,564.82,7213.486638
261,2019-06-01 00:00:00,33,24,5164,764.82,2695.41,619.48,6954.954138
262,2019-06-01 00:00:00,22,22,6617,999.84,3542.38,633.47,7189.659138
263,2019-07-01 00:00:00,2,2,7743,2315.87,7577.63,1366.52,10784.411692
264,2019-07-01 00:00:00,19,11,4887,1115.93,3810.27,722.17,9263.564745
265,2019-07-01 00:00:00,29,15,5065,961.78,3262.39,795.74,7555.621635
266,2019-07-01 00:00:00,20,30,3478,672.53,2270.48,789.43,8297.251635
267,2019-07-01 00:00:00,24,25,4416,945.47,3334.09,454.96,7589.264745
268,2019-07-01 00:00:00,42,12,4272,776.77,2651.04,337.59,8325.171135
269,2019-07-01 00:00:00,43,3,5121,934.9,3030.92,256.35,8490.201135
270,2019-07-01 00:00:00,45,14,6373,1162.16,3936.34,420.2,7724.811135
271,2019-07-01 00:00:00,44,23,2790,507.21,1801.84,1081.58,6402.388638
272,2019-07-01 00:00:00,37,26,2263,428.36,1467.24,464.43,7699.861635
273,2019-07-01 00:00:00,38,27,2413,510.65,1756.27,359.27,7877.394135
274,2019-07-01 00:00:00,3,1,5669,1520.68,5178.05,1635.75,5671.294195
275,2019-07-01 00:00:00,4,7,2126,467,1544.91,1068.78,7379.257638
276,2019-07-01 00:00:00,34,13,4226,979.94,3262.72,1417.29,9481.409745
277,2019-07-01 00:00:00,17,5,3500,1307.35,4335.52,1899.25,11729.80872
278,2019-07-01 00:00:00,23,31,3134,666.87,2305.97,440.31,7588.606635
279,2019-07-01 00:00:00,33,24,3958,747.34,2645.86,635.05,7200.706638
280,2019-08-01 00:00:00,2,2,5388,1605.84,5187.86,1162.81,10806.386693
281,2019-08-01 00:00:00,19,11,4284,966.07,3197.52,606.28,8229.772245
282,2019-08-01 00:00:00,29,15,4698,895.89,2878.36,665.74,7508.251635
283,2019-08-01 00:00:00,20,30,2524,475.62,1582.6,638.51,7958.754135
284,2019-08-01 00:00:00,24,25,3516,749.25,2681.19,367.98,8124.592245
285,2019-08-01 00:00:00,42,12,4147,755.57,2606.22,295.39,8507.593635
286,2019-08-01 00:00:00,43,3,4847,883.63,2858.22,323.36,8095.513635
287,2019-08-01 00:00:00,45,14,6297,1144.16,3554.03,440.35,8122.971135
288,2019-08-01 00:00:00,44,23,5498,1017.37,3548.01,946.38,8240.316135
289,2019-08-01 00:00:00,37,26,1838,345.06,1172.91,395.05,8009.379135
290,2019-08-01 00:00:00,38,27,951,206.69,714.39,311.26,7421.881638
291,2019-08-01 00:00:00,3,1,6445,1698.92,5449.08,1368.63,5671.294195
292,2019-08-01 00:00:00,4,7,2202,467.56,1483.95,869.21,7870.687635

In [21]:
###Now we need to remove the second column row in the df###

target_value = 'Date'

# Find all the indices where the value appears in a specific row (e.g., row index 0)
row_index = 0
indices_of_value = np.where(df_costs.iloc[:,row_index] == target_value)[0]
print(f"The index for another row in the df is {indices_of_value[1]}")
df_costs.drop(index = indices_of_value[1], inplace = True)

The index for another row in the df is 190

In [22]:
df_costs.iloc[190, 0]
##The column with "date" has been removed

datetime.datetime(2019, 1, 1, 0, 0)

In [23]:
df_costs.head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
1,2018-01-01 00:00:00,2,2,4594,1303.06,4077.49,1011.93,10502.595165
2,2018-01-01 00:00:00,6,4,3816,899.14,2813.7,1561.78,6092.156655
3,2018-01-01 00:00:00,17,9,7116,2128.46,6491,1324.12,11930.90331
4,2018-01-01 00:00:00,19,11,2724,669.73,2123.58,560.17,7428.016155

In [24]:
##convert the first row into header
header = df_costs.iloc[0]
df_costs.drop(index = 0, inplace = True) 

df_costs.columns = header
df_costs = clean_column_names(df_costs)

df_costs.head(5)

,date,truck_id,drive_id,km_traveled,liters,fuel,maintenance,fixed_costs
1,2018-01-01 00:00:00,2,2,4594,1303.06,4077.49,1011.93,10502.595165
2,2018-01-01 00:00:00,6,4,3816,899.14,2813.7,1561.78,6092.156655
3,2018-01-01 00:00:00,17,9,7116,2128.46,6491,1324.12,11930.90331
4,2018-01-01 00:00:00,19,11,2724,669.73,2123.58,560.17,7428.016155
5,2018-01-01 00:00:00,20,12,3862,723.02,2378.19,648.11,6735.388638

In [25]:
#Cleaning Date Column and removing time stamp
df_costs['date'] = pd.to_datetime(df_costs['date'])
df_costs['date'] = df_costs['date'].dt.date

In [26]:
df_costs = df_costs.reset_index(drop=True)

In [27]:
df_costs.rename(columns={'drive_id': 'driver_id'}, inplace=True)

In [28]:
quality(df_costs)
####The dataframe has been cleaned and formatted for SQL injection###

The sum of null values :
0
date           0
truck_id       0
driver_id      0
km_traveled    0
liters         0
fuel           0
maintenance    0
fixed_costs    0
dtype: int64

The type of data types:
0
date           object
truck_id       object
driver_id      object
km_traveled    object
liters         object
fuel           object
maintenance    object
fixed_costs    object
dtype: object

The rows in the table: 295

The columns in the table: 8

0        date truck_id driver_id km_traveled   liters     fuel maintenance  \
0  2018-01-01        2         2        4594  1303.06  4077.49     1011.93
1  2018-01-01        6         4        3816   899.14   2813.7     1561.78
2  2018-01-01       17         9        7116  2128.46     6491     1324.12
3  2018-01-01       19        11        2724   669.73  2123.58      560.17
4  2018-01-01       20        12        3862   723.02  2378.19      648.11

0   fixed_costs
0  10502.595165
1   6092.156655
2   11930.90331
3   7428.016155
4   6735.388638

In [29]:
path = r"data/fFreight.csv"
df_freight= pd.read_csv(path)

In [30]:
df_freight = clean_column_names(df_freight)
df_freight.columns = df_freight.columns.str.replace('(', '')
df_freight.columns = df_freight.columns.str.replace(')', '')

In [31]:
df_freight['net_revenue'] = df_freight['net_revenue'].replace(',', '.',regex= True)
df_freight['weight_kg'] = df_freight['weight_kg'].replace(',', '.',regex= True)
df_freight['weight_cubic'] = df_freight['weight_cubic'].replace(',', '.',regex= True)
df_freight['goods_value'] = df_freight['goods_value'].replace(',', '',regex= True)

In [32]:
####all our seven table seems to be in good condition and we can work on SQL injection#####

In [33]:
try:
    engine = create_engine("postgresql+psycopg2://postgres:root@localhost:5432/logistic_db")

    with engine.connect() as conn:
           print("Connected to PostgreSQL")
except Exception as error: 
    print(f"Error: {error}")

Connected to PostgreSQL

In [34]:

from sqlalchemy import text
from sqlalchemy.types import Integer, String, Date, Float

In [35]:
try:
    df_vehicles.to_sql(
        "vehicles",
        engine,
        if_exists="replace",
        index=False,
        dtype={
            "truck_id": Integer,  # Primary Key
            "plate": String(50),
            "brand": String(50),
            "truck_type": String(50),
            "trailers_type": String(50),
            "year": Integer
        }
    )

    # Ensure Primary Key is set
    with engine.connect() as conn:
        conn.execute(text("ALTER TABLE vehicles ADD PRIMARY KEY (truck_id);"))
        conn.commit()

    print("Data inserted successfully with truck_id as Primary Key!")

except Exception as error:
    print(f"Error: {error}")

Data inserted successfully with truck_id as Primary Key!

In [36]:
try :
    df_drivers.to_sql(
    "drivers",
    engine,
    if_exists="replace",
    index=False,
    dtype={
        "driver_id": Integer,  
        "name": String(50),
        }
    )
    with engine.connect() as conn:
        conn.execute(text("ALTER TABLE drivers ADD PRIMARY KEY (driver_id);"))
        conn.commit() 
    print("Data inserted successfully with driver_id as Primary Key!")
except Exception as error:
    print(f"Error: {error}")

Data inserted successfully with driver_id as Primary Key!

In [37]:
try:
    df_customers.to_sql(
        "customers",
        engine,
        if_exists="replace",
        index=False,
        dtype={
            "customer_id": Integer,  # Primary Key
            "city": String(100),
            "state": String(50),
            "latitude": Float,
            "longitude": Float
        }
    )

    # Ensure Primary Key is set
    with engine.connect() as conn:
        conn.execute(text("ALTER TABLE customers ADD PRIMARY KEY (customer_id);"))
        conn.commit()

    print("Data inserted successfully with customer_id as Primary Key!")

except Exception as error:
    print(f" Error: {error}")

Data inserted successfully with customer_id as Primary Key!

In [38]:
try:
    df_costs.to_sql(
        "costs",  # Table name
        engine,
        if_exists="replace",  # Replace if the table already exists
        index=False,
        dtype={
            "date": Date(),  # Date column
            "truck_id": Integer,  # Foreign Key column
            "driver_id": Integer,
            "km_traveled": Float,
            "liters": Float,
            "fuel": Float,
            "maintenance": Float,
            "fixed_costs": Float
        }
    )

    # Ensure Foreign Key relationship and Composite Primary Key
    with engine.connect() as conn:
    
        
        # Add Foreign Key constraint (truck_id referencing drivers)
        conn.execute(text("ALTER TABLE costs ADD CONSTRAINT fk_truck_id FOREIGN KEY (truck_id) REFERENCES vehicles(truck_id);"))
        conn.execute(text("ALTER TABLE costs ADD CONSTRAINT fk_driver_id FOREIGN KEY (driver_id) REFERENCES drivers(driver_id);"))

        conn.commit()

    print("Data inserted successfully into the 'costs' table with Foreign Key")

except Exception as error:
    print(f" Error: {error}")

Data inserted successfully into the 'costs' table with Foreign Key

In [39]:
try:
    df_freight.to_sql(
        "freight",  # Table name
        engine,
        if_exists="replace",  # Replace if the table already exists
        index=False,
        dtype={
            "date": Date(),  # Date column
            "customer_id": Integer,  # Foreign Key column
            "truck_id": Integer,
            "freight_id": String,
            "city": String,
            "net_revenue": Float,
            "weight_kg": Float,
            "weight_cubic": Float,
            "goods_value": Float
        }
    )

    with engine.connect() as conn:
        conn.execute(text("ALTER TABLE freight ADD CONSTRAINT fk_truck_id FOREIGN KEY (truck_id) REFERENCES vehicles(truck_id);"))
        conn.execute(text("ALTER TABLE freight ADD CONSTRAINT fk_customer_id FOREIGN KEY (customer_id) REFERENCES customers(customer_id);"))

        conn.commit()

    print("Data inserted successfully into the 'costs' table with Foreign Key")

except Exception as error:
    print(f"Error: {error}")

Data inserted successfully into the 'costs' table with Foreign Key